@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-background: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --default-background: #25293c;
  }
}


body {
  /* @apply bg-lightBg dark:bg-darkBg text-lightText dark:text-darkText; */
}

/* .bg-lightBg {
  background-color: #f5f5f5;
} */

/* .bg-darkBg {
  background-color: #25293c;
} */

.light .default-background {
  background-color: #f5f5f5;
}

.dark .default-background {
  background-color: #25293c;
}

.light body {
  color: #6f6b7d;
  background: #f5f5f5;
}

.dark body {
  color: #b6bee3;
  background: #25293c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light h6,
.light .h6,
.light h5,
.light .h5,
.light h4,
.light .h4,
.light h3,
.light .h3,
.light h2,
.light .h2,
.light h1,
.light .h1 {
  color: #5d596c;
}

.hero-title {
  background: linear-gradient(to right, #28c76f 0%, #5a4aff 47.92%, #ff3739 100%);
  background-size: 200% auto;
  color: #5d596c;
  background-clip: text;
  line-height: 1.2;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s ease-in-out infinite alternate;
}